@font-face {
    font-family: 'HKGrotesk-Light';
    src: url('../fonts/HKGrotesk-Light.otf') format('truetype');
}

html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #151313;
  }
  
  img {
    max-width: 100%;
  }
  
  .centrado {
    text-align: center;
  }
  
  .oculto {
    display: none;
  }
  
  .no-menu.pagina .sidebar {
    margin-left: -20rem;
  }
  
  .pagina {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
  }
  .header .nombre-sitio {
    flex: 0 0 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: black;
  }
  .header .nombre-sitio img{
    max-width: 200px;
    max-height: 200px;

  }
  @media only screen and (min-width: 1024px) {
    .header .nombre-sitio {
      flex: 0 0 20rem;
    }
  }
  .header .nombre-sitio h1 {
    color: #FFFFFF;
    margin: 0;
  }
  .header .nombre-sitio .escritorio {
    display: none;
  }

  @media only screen and (min-width: 1024px) {
    .header .nombre-sitio .escritorio {
      display: block;
    }
  }

  @media only screen and (min-width: 1024px) {
    .header .nombre-sitio .movil {
      display: none;
    }
  }
  
  .barra {
    display: flex;
    justify-content: right;
    flex: 1;
    background-color: black;
  }

  /* USER SUPERIOR DERECHA */

  .sidebar {
    padding: 0rem 1rem;
    color: #FFFFFF;
  }
  
  .sidebar .usuario {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3rem;
    font-weight: normal;
  }
  .sidebar .usuario img {
    max-width: 4rem;
  }

  .sidebar .usuario p{
    padding-top: 15px;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
    /* CURPO DE LA PAGINA */
  .contenedor-principal {
    flex: 1;
    display: flex;
  }
  
  .contenido {
    flex: 1;
    padding: 1rem;
  }
  
  
  /* FORMULARIOS */

  .formulario{
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem
  }

  .formulario h2{
    color: #f9ef23;
    font-family: 'Anton',sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    padding: 1rem;
}

  .formulario input{
    margin: 0 auto;
  }
  .formulario .formulario-campo{
    
    background-color: #151313;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    width: 50%;
    font-family: 'HKGrotesk-Light';
    font-weight: 700;
  } 

  .formulario  .formulario-campo::placeholder{
    color: rgb(255, 255, 255);
  }

   .formulario .formulario-campo:focus{
    outline: none;
   }

   .formulario input[type="submit"]{
    background-color: #3168d9;
    border-radius: 1rem;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    width: 30%;
   }

         /* Barra de busqueda */
.main-nav__search, .main-nav__search form{
  height: 100%;
  margin-left: auto;
}

.main-nav__search form {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.main-nav__search input {
  min-width: 400px;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
}

input[type="search"]:focus {
  background-color: transparent;
}

.sub-nav{
  flex: 1;
  display: flex;
}

.sub-nav h2{
  color: #f9ef23;
  font-family: 'Anton',sans-serif;
}

         /* TABLA*/
 .table thead{
  background-color: rgb(39, 39, 39);
  color:  #f9ef23;
 }

 .container .btn{
  color: #FFFFFF;
  font-weight: 900;
 }

   /* MODAL AÑADIR*/
   .title-estilo{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Anton',sans-serif;
    color:  #f9ef23;
   }
   
  .estilo{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }

  .form-control{
    color: #FFFFFF;
    background-color: transparent;
  }
  .modal-footer{
    background-color: rgba(0, 0, 0, 0.9);
  }

  .btnGuardarEstilo{
    width: 100%;
    border-radius: 1.5rem;
    font-weight: 900;
  }

  .btnEditar{
    margin: 1rem;
  }
