:root{
    --width-page: 1200px;
    --nav-height: 120px;
}
@font-face {
    font-family: 'HKGrotesk-Medium';
    src: url('../fonts/HKGrotesk-Medium.otf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondo_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------
# Encabezado
--------------------------------------------------------------*/
header{
    background-color: black;
    display: flex;
    justify-content: center;
}

.main_nav{
    max-width: var(--width-page);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
}

.parte_izquierda{
    margin-top: 10rem;
    margin-left: 5rem;
    width: 50rem;
    margin-right: 2rem;
}

.parte_izquierda > h1{
    font-family: 'Anton', sans-serif;
    color: #f9ef23;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.parte_izquierda > p{
    font-family: 'HKGrotesk-Medium', sans-serif;
    color: white;
    line-height: 1.9;
}

.parte_derecha{
    margin-top: 8rem;
    width: 25rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.parte_derecha .containerLogin .title > p{
    font-family: 'Anton', sans-serif;
    color: #f9ef23;
    font-size: 2.5rem;
    margin-bottom: 3.rem;
}
input::placeholder {
    color: white; /* Establece el color del placeholder */
  }
.containerLogin div > input{
    margin-top: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-bottom: 0.2rem solid #ccc;
}

